.realtors {
    grid-column: col-start 7/full-end;
    background-color: #101D2C;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    display: grid;
    @media screen and (max-width:$md-medium) {
        grid-row: 3/4;
        grid-column: 1/-1;
        row-gap: 3rem;
    }
    &__container {
        display: grid;
        row-gap: 3rem;
        transform: translateY(-1.5rem);
         @media screen and (max-width:$md-medium){
                grid-template-columns: repeat(3, 1fr);
                column-gap: 3rem;
                // row-gap: 0;
            }
        @media screen and (max-width:$md-small){
            grid-template-columns: none;
            column-gap: 0;
        }
    }

    .realtor {
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 1.5rem;
            align-items: center;
           

        &__img {
            height: 7rem;
            border-radius: 50%;
            object-fit: cover;
            grid-row: 1/span 2;
        }
        &__sold {
            text-transform: uppercase;
            font-size: 1rem;
            align-self: start;
        }
    }
    .heading-3 {
        text-align: center;
    }
}