 %heading {
    font-weight: 400;
 }
 .heading-1 {
   @extend %heading;
   font-size: 4rem;
   text-transform: capitalize;
   color: white;

}
.heading-2 {
  font-size: 3rem;
  color:black;
  text-transform: capitalize;
  font-style: italic;
  letter-spacing: 3px;
  margin-bottom:3rem;
}

 .heading-4 {
    @extend %heading;
    font-size: 1.9rem;
    text-transform: capitalize;
    &--black {
        color:$color-grey-dark-1;
    }
    &--white {
      color: $color-grey-light-1;
    }

 }
 .heading-3 {
   @extend %heading;
   font-size: 1.7rem;
   text-transform:uppercase;
   color: $color-primary;
 }

 p {
  color: $color-grey-light-2;
 }